@model LuckySpin.Models.Spin
@inject LuckySpin.Models.TextTransformService Transform

<h1> Lucky Spin</h1>
<button onclick='history.go(0)'>Spin</button>
<div>@Model.A</div><div>@Model.B</div><div>@Model.C</div>

<img src="/Images/LuckySpinCoins.jpg" class="animated bounce" alt="Coins" style="display:@Model.Display" />